/* :root Pseudo-Class Selector */
:root{
  --black: rgba(0, 0, 0, 1);
  --violet: rgba(35, 11, 56, 1);
  --grape-2: rgba(58, 25, 86, 0.8);
  --grape: rgba(58, 25, 86, 1);
  --electric-violet: rgba(84, 26, 247, 1);
  --concrete: rgba(241, 244, 242, 1);
  --white-2: rgba(255, 255, 255, 0.741);
  --white: rgba(255, 255, 255, 1);
  --silver: rgb(187, 187, 187);

  --font-size-xs: 15px;
  --font-size-s: 20px;
  --font-size-m: 25px;
  --font-size-l: 28px;
  --font-size-xl: 35px;
  --font-size-xxl: 43px;
  --font-size-xxxl: 50px;

  --font-family-clash_display-medium: "Clash Display-Medium";
  --font-family-clash_display-regular: "Clash Display-Regular";
  --font-family-clash_display-semibold: "Clash Display-Semibold";
  --font-family-inter: "Inter";

  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
}



.clashdisplay-medium-white-25px {
  color: var(--white);
  font-family: var(--font-family-clash_display-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.clashdisplay-medium-white-50px {
  color: var(--white);
  font-family: var(--font-family-clash_display-medium);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  font-style: normal;
}

.clashdisplay-medium-white-35px {
  color: var(--white);
  font-family: var(--font-family-clash_display-medium );
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-style: normal;
}

.clashdisplay-medium-grape-22px {
  color: var(--grape-2);
  font-family: var(--font-family-clash_display-medium);
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
}

.clashdisplay-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-clash_display-semibold);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}

.clashdisplay-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-clash_display-semibold);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}

.clashdisplay-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-clash_display-semibold);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  font-style: normal;
}

.clashdisplay-normal-grape-20px {
  color: var(--grape);
  font-family: var(--font-family-clash_display-semibold);
  font-size: var(--font-size-s);
  font-weight: 800;
  font-style: normal;
}

.clashdisplay-regular-normal-grape-25px {
  color: var(--grape);
  font-family: var(--font-family-clash_display-regular);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.clashdisplay-regular-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-clash_display-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

.clashdisplay-regular-normal-white-28px {
  color: var(--white);
  font-family: var(--font-family-clash_display-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}

.clashdisplay-regular-normal-white-43px {
  color: var(--white);
  font-family: var(--font-family-clash_display-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: normal;
}

.clashdisplay-regular-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-clash_display-regular);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  font-style: normal;
}

.clashdisplay-semibold-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-clash_display-semibold);
  font-size: var(--font-size-xxxl);
  font-weight: 800;
  font-style: normal;
}

.clashdisplay-normal-violet-50px {
  color: var(--violet);
  font-family: var(--font-family-clash_display-semibold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-grape-22px {
  color: var(--grape-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.clashdisplay-normal-white-43px {
  color: var(--white);
  font-family: var(--font-family-clash_display-semibold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

/* Bosy Starts Here */
html, body {
  font-family: var(--font-family-clash_display-regular);
  background-color: var(--violet);
  /* margin: 0 auto; */
  width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, a {
  color: var(--white);
  text-decoration: none;
}

@font-face {
  font-family: "Clash Display-Medium";
  font-style: normal;
  font-weight: 500;
  src: url(font/ClashDisplay-Medium.otf) format("truetype");
}

@font-face {
  font-family: "Clash Display-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(font/ClashDisplay-Semibold.otf) format("truetype");
}

@font-face {
  font-family: "Clash Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(font/ClashDisplay-Regular.otf) format("truetype");
}

/* Header Testing */
.nav-menu-test {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: rgba(58, 25, 86, 1);
}

.navbar-container{
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.navbar-content{
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-brand{
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}

.logo{
  width: 170px;
  height: 94px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  background-size: cover;
  justify-content: center;
  background-image: url(./img/Navbar\ Brand.png);
  object-fit: cover;
  object-position: center;
}

.navbar-menu{
  gap: 32px;
  width: 992px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

.navbar-link{
  text-decoration: none;
}

.button-white{
  gap: 8px; 
  /* width: 128px; */
  display: flex;
  padding: 8px 20px;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-white:hover, .button-grape:hover{
  transform:scale(0.9);
}

.button-grape{
  gap: 8px;
  /* width: 128px; */
  display: flex;
  padding: 8px 20px;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  justify-content: center;
  background-color: rgba(58, 25, 86, 1);
  cursor: pointer;
  transition: all 0.2s ease;
}


/* Intro Section */
.intro-section{
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  padding: 140px 24px 64px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-size: cover;
  background-image: url("./img/Intro\ Section.png");
}

.inner-container{
  gap: 300px;
  width: 911px;
  height: 1081px;
  display: flex;
  position: sticky;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
}

.image-wrapper{
  height: 462px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.image{
  /* width: 770px; */
  /* height: 100%; */
  object-fit: cover;
}

.title-section{
  gap: 24px;
  /* height: 331px; */
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.content{
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

/* .text{
  align-self: stretch;
  letter-spacing: 1.4px;
  line-height: normal;
  position: relative;
  text-align: center;
} */

.form{
  gap: 16px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.input-wrapper{
  gap: 8px;
  width: 364px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  /* border-style: solid; */
  border-width: 2px;
  flex-direction: column;
}

.form-text-input-grape {
  gap: 8px;
  padding: 12px;
  flex-grow: 1;
  text-align: left;
  align-items: center;
  align-self: stretch;
  border: 2px solid;
  border-color: var(--grape);
  border-radius: 8px;
  display: flex;
  padding: 12px;
  background-color: var(--violet);
  position: relative;
}

.form-text-input-white {
  gap: 8px;
  padding: 12px;
  flex-grow: 1;
  text-align: left;
  align-items: center;
  align-self: stretch;
  border: 2px solid;
  border-color: var(--violet);
  border-radius: 8px;
  display: flex;
  padding: 12px;
  background-color: var(--silver);
  position: relative;
}

.actions {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px 0px 0px;
  position: relative;
  width: fit-content;
}

.button {
  align-items: center;
  background-color: var(--grape);
  border: 2px solid;
  border-color: var(--white);
  border-radius: 55px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 61px;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
  transition: all 0.2s ease;
  width: 252px;
}

.button:hover {
  transform: scale(1.1);
}

.title {
  letter-spacing: 0;
  line-height: 49px;
  margin-bottom: -4px;
  margin-top: -8px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

/* About Us */
.about-us {
  align-items: center;
  background-color: #240b38cc;
  background-image: url(./img/About\ Us.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 639px;
  justify-content: center;
  padding: 64px 24px;
  position: relative;
  width: 100%;
}

.about-us .content{
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 65px;
  position: relative;
}

.small-container .title-section{
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
  opacity: 0;
  position: relative;
  transform: scale(1.1);
}

/* .small-container.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease-in 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
} */

/* .title-section */

.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter-frames {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* .button-white {
  align-items: center;
  background-color: var(--white);
  border-radius: 9px;
  box-shadow: 0px 6px 8px #00000040;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease;
  
  height: 58px;
  padding: 12px 24px;
  width: 208px;
} */

/* .button-white:hover {
  transform: scale(1.1);
} */

.paragraph {
  text-align: center;
  width: 880px;
  letter-spacing: 1.5px;
  line-height: normal;
  position: relative;
}

/* Long Stack */
.long-stack {
  gap: 300px;
  width: 100%;
  height: 1821px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: cover;
  background-image: url(./img/Long-Stack.png);
}

.hero-heading-left {
  gap: 80px;
  width: 100%;
  display: flex;
  padding: 124px 166px;
  /* overflow: hidden; */
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-end;
  transform: scale(1.1);
} 

/* double-check on .hero-heading-left.animate-enter 
If possible, try to re-use the function */

.movie-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 853px;
}

.long-stack .column {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
}

.long-stack .content {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  position: relative;
}

.movie-title {
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.movie-paragraph{
  width: 698px;
  height: auto;

  text-align: right;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.movie-column{
  gap: 10px;
  width: 130px;
  height: 176px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
}

.frame{
  align-items: center;
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  position: relative;
  width: 853px;
}

/* Hero Heading Right*/
.hero-heading-right{
  align-items: flex-start;
  gap: 80px;
  justify-content: center;
  opacity: 0;
  /* padding: 64px 24px; */
  position: relative;
  transform: scale(1.1);

  width: 100%;
  height: 1002px;
  display: flex;
  overflow: hidden;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: 150px;
  /* padding-right: 150px; */
  padding-bottom: var(--dl-space-space-fourunits);
}

.movie-container-right{
  align-items: center;
  display: flex;
  gap: 80px;
  position: relative;
  /* width: 1200px; */

  width: 100%;
  height: 100%;
  align-self: stretch;
  justify-content: center;
  
}

.movie-column-right {
  flex-direction: column;
  gap: 24px;
  width: 455px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}

.movie-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  /* width: 455px; */
  width: 100%;
}

.frame-2 {
  width: 100%;
  height: 813px;
  display: flex;
  align-self: center;
  align-items: center;
  background-size: cover;
  justify-content: center;
}

.movie-wrapper{
  flex: 0;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* .movie-wrapper img{
  width: 901px;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
} */

.movie-wrapper img {
  align-self: stretch;
  background-position: 50% 50%;
  background-size: cover;
  height: 764px;
  min-width: 665px;
  position: relative;
}



.movie-title-2 {
  align-self: stretch;
  letter-spacing: 2.50px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;

  height: auto;
  font-stretch: normal;
  text-decoration: none;
}

/* FAQ */
.FAQ{
  align-items: center;
  background-image: url(./img/Gradients.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 809px;
  padding: 76px 160px;
  position: relative;
  width: 100%;
  background-color: rgba(243, 238, 255, 1);
}

.question {
  height: 78px;
  display: flex;
  padding: 12px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--grape);
  justify-content: space-between;
}

.x-5 {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}

/* Newsletter Form */
.newsletter-form {
  align-items: center;
  background-image: url(./img/newsletter-form.svg);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 281px;
  padding: 43px 24px;
  position: relative;
  width: 100%;
}

.form-container{
  position: relative;
  transform: scale(1.1);
  width: 1200px;
}

.section-title {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.form-wrapper {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 76px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.box-title::placeholder {
  color: #3b195682;
}

/* Footer */
footer {
  align-items: center;
  background-color: transparent;
  background-image: url(./img/footer-bg.svg);
  background-position: 50%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 40px;
  height: 260px;
  mix-blend-mode: normal;
  padding: 18px 24px 40px;
  position: relative;
  width: 100%;
}

.container-column{
  gap: 40px;
  width: 1089px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.section-column{
  height: 193px;
  min-width: 360px;
  position: relative;
}

.navbar-brand-footer{
  gap: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-download{
  gap: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.small-column {
  gap: 32px;
  width: 540px;
  display: flex;
  padding: 16px 0 0;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
}

.social-media-icon {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}

.icon-svg {
  width: 24px;
  height: 24px;
}

.frame-column {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: flex-end;
}

.frame-list {
  gap: 13px;
  width: 158.6666717529297px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.list-content {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

/* LEFT OVER HERE */


/* Footer Here */

.container {
  background-color: var(--grape);
  left: 0;
  position: absolute;
  top: 247px;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}





/* App Dpwnload Button */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
.app-btn {
  width: 160px;
  color: #fff;
  /* margin: 20px 10px; */
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  font-size: 10px;
  padding: 10px;
  border: 1px solid var(--white);
}
.app-btn.blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}

.app-btn.blu:hover {
  background-color: #454545;
}
.app-btn i {
  width: 20%;
  text-align: center;
  font-size: 28px;
  margin-right: 7px;
}
.app-btn .big-txt {
  font-size: 17px;
  text-transform: capitalize;
}


 /* .app {
  &-btn {
   width: 45%;
   max-width: 160px;
   color: #fff;
   margin: 20px 10px;
   text-align: left;
   border-radius: 5px;
   text-decoration: none;
   font-family: "Lucida Grande", sans-serif;
   font-size: 10px;
   text-transform: uppercase;
   &.blu {
    background-color: #101010;
    transition: background-color 0.25s linear;
    &:hover {
     background-color: #454545;
    }
   }

   i {
    width: 20%;
    text-align: center;
    font-size: 28px;
    margin-right: 7px;
   }

   .big-txt {
    font-size: 17px;
    text-transform: capitalize;
   }
  }
 } */