* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Clash Display-Medium";
  font-style: normal;
  font-weight: 500;
  src: url(font/ClashDisplay-Medium.otf) format("truetype");
}

@font-face {
  font-family: "Clash Display-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(font/ClashDisplay-Semibold.otf) format("truetype");
}

@font-face {
  font-family: "Clash Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(font/ClashDisplay-Regular.otf) format("truetype");
}

.section.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 90;
  padding-top: 0;
  padding-bottom: 0;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  /* max-width: 1440px; */
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  align-items: center;
  background-color: var(--grape);
  display: flex;
  overflow: hidden;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  justify-content: space-between;
  align-items: center;
  height: 98px;
  min-width: 100%;
  padding: 14px 160px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-logo {
  /* width: 8.3rem; */
}

.logo-svg {
  align-self: center;
  height: 200px;
  width: 300px;
  object-fit: cover;
  object-position: center;
}

.nav-menu, .nav-button {
  -webkit-box-flex: 1;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu .navbar-link {
  height: 19px;
  letter-spacing: 1px;
  line-height: normal;
  margin-bottom: 1px;
  margin-left: 10px;
  white-space: nowrap;
  font-family: var(--font-family-clash_display-medium);
  text-decoration: none;
}

.overlap-group-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 9px;
  box-shadow: 0px 6px 8px 4px #00000040;
  display: flex;
  height: 38px;
  justify-content: flex-end;
  margin-bottom: 0.12px;
  margin-left: 20px;
  min-width: 122px;
  padding: 7.4px 8.1px;
}

.white-button {
  color: var(--violet);
  font-family: var(--font-family-clash_display-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 23px;
  letter-spacing: 1px;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  width: 106px;
  text-decoration: none;
}

.overlap-group-1 {
  align-items: flex-start;
  background-color: var(--grape);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 6px 8px 4px #00000040;
  display: flex;
  height: 38px;
  justify-content: flex-end;
  margin-bottom: 0.12px;
  margin-left: 20px;
  min-width: 122px;
  padding: 7.4px 8.1px;
}

.grape-button {
  color: var(--white);
  font-family: var(--font-family-clash_display-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 23px;
  letter-spacing: 1px;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  width: 106px;
  text-decoration: none;
}

/* header {
    background: var(--midnight-blue);
    padding: 14px 160px 15px;
    display: flex;
    align-items: center;
    }
  
  .header-group {
    display: flex;
    align-items: flex-start;
  }

  .logo-svg {
    width: 12.05%;
    align-self: stretch;
    margin-right: 287px;
    object-fit: cover;
  }

  .about-us {
    height: 27.54%;
    width: 8.93%;
    color: var(--white);
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-right: 19px;
    letter-spacing: 1px;
    font-family: var(--clash-display-20-semi-bold-family);
    font-size: var(--clash-display-20-semi-bold-size);
    font-weight: var(--clash-display-20-semi-bold-weight);
    line-height: var(--clash-display-20-semi-bold-line-height);
  }

  .benefits {
    height: 27.54%;
    width: 8.04%;
    color: var(--white);
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-right: 19px;
    letter-spacing: 1px;
    font-family: var(--clash-display-20-semi-bold-family);
    font-size: var(--clash-display-20-semi-bold-size);
    font-weight: var(--clash-display-20-semi-bold-weight);
    line-height: var(--clash-display-20-semi-bold-line-height);
  }

  .movies {
    height: 27.54%;
    width: 6.96%;
    color: var(--white);
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-right: 19px;
    letter-spacing: 1px;
    font-family: var(--clash-display-20-semi-bold-family);
    font-size: var(--clash-display-20-semi-bold-size);
    font-weight: var(--clash-display-20-semi-bold-weight);
    line-height: var(--clash-display-20-semi-bold-line-height);
  }

  .contact {
    height: 27.54%;
    width: 7.86%;
    color: var(--white);
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-right: 20px;
    letter-spacing: 1px;
    font-family: var(--clash-display-20-semi-bold-family);
    font-size: var(--clash-display-20-semi-bold-size);
    font-weight: var(--clash-display-20-semi-bold-weight);
    line-height: var(--clash-display-20-semi-bold-line-height);
  }

  .log-in-button {
    background-color: var(--white);
    margin-top: 16px;
    margin-right: 21px;
    border-radius: 9px;
    padding: 5.44px 6.06px;
    box-shadow: 0 6px 8px 4px var(--transparent-black);
    display: flex;
    align-items: center;
    border: 2px solid var(--white);
  }

  .log-in {
    color: var(--midnight-blue-2);
    flex: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font-family: var(--clash-display-20-medium-family);
    font-size: var(--clash-display-20-medium-size);
    font-weight: var(--clash-display-20-medium-weight);
    line-height: var(--clash-display-20-medium-line-height);
  }

  .sign-up-button {
    background-color: var(--midnight-blue);
    margin-top: 16px;
    border-radius: 8px;
    padding: 6.44px 7.06px;
    box-shadow: 0 6px 8px 4px var(--transparent-black);
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
  }

  .sign-up {
    color: var(--white);
    flex: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font-family: var(--clash-display-20-medium-family);
    font-size: var(--clash-display-20-medium-size);
    font-weight: var(--clash-display-20-medium-weight);
    line-height: var(--clash-display-20-medium-line-height);
  } */